{% extends "Library/base.html" %}
{% block content %}
    <div class="dash-container">
        <div class="user-profile">
            <div class="avatar rounded-top">
                <h1>{{ user.first_name.0 }}{{ user.last_name.0 }}</h1>
            </div>
            <div class="px-4 pb-2 pt-4" id="details">
                <p>
                    <b class="me-1">Username:</b> <span class="me-5 px-2" id="username-field">{{ user.username }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="pencil" viewBox="0 0 512 512"> <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
                </p>
                <p>
                    <b class="me-1">First Name:</b> <span class="me-5 px-2" id="first-name-field">{{ user.first_name }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="pencil" viewBox="0 0 512 512"> <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
                </p>
                <p>
                    <b class="me-1">Last Name:</b> <span class="me-5 px-2" id="last-name-field">{{ user.last_name }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="pencil" viewBox="0 0 512 512"> <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
                </p>
                <p>
                    <b class="me-1">Email:</b> <span class="me-5 px-2" id="email-field">{{ user.email }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="pencil" viewBox="0 0 512 512"> <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
                </p>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn-primary" id="update-user-btn">update user</button>
                </div>
            </div>
        </div>
        <div class="management">
            <div class="simple-analytics">
                <div class="d-flex flex-column align-items-center justify-content-center p-4">
                    <h2>130</h2>
                    <h4>Books</h4>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center p-4">
                    <h2>27</h2>
                    <h4>Out</h4>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center p-4">
                    <h2>130</h2>
                    <h4>Books</h4>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Add a new Book
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <form id="new-book-form">
                          <h3>Enter The Book Details</h3>
                          <input type="text" class="form-control mb-3" placeholder="book title"/>
                          <textarea type="text" class="form-control mb-3" placeholder="book description"></textarea>
                          <input type="number" class="form-control mb-3" placeholder="amount in stock"/>
                          <button class="btn-primary" id="add-book-btn">add book +</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Register A Taken Book
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <form>
                            <h3>Enter Details</h3>
                            <input type="text" class="form-control mb-3" placeholder="book title"/>
                            <input type="text" class="form-control mb-3" placeholder="student ID"/>
                            <input type="date" class="form-control mb-3" placeholder="return date"/>
                            <button class="btn-primary">register</button>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Favourites
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul>
                            <li>Python for beginners</li>
                            <li>Database management with Access</li>
                            <li>Javascript for beginners</li>
                            <li>PHP for dummies</li>
                            <li>Lravel framework</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-muted text-center mt-2">copyrights &copy; The Book Keeper 2022</p>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        const editBtns = document.querySelectorAll('.pencil')
        const updateUserBtn = document.getElementById('update-user-btn')
        editBtns.forEach(btn => {
            btn.addEventListener('click', (e) => {
                let parent = e.target.parentElement
                if (e.target.nodeName === 'path') {
                    parent = e.target.parentElement.parentElement
                }
                const field = parent.querySelector('span')
                field.setAttribute('contenteditable', 'true')
                field.focus()
                updateUserBtn.style.visibility = 'visible'
            })
        });

        editableFields = document.querySelectorAll('p span')
        editableFields.forEach(field => {
            field.onblur = () => {
                    field.setAttribute('contenteditable', 'false')
                }
        })

        updateUserBtn.addEventListener('click', () => {
            // get all fields values
            const username = document.getElementById('username-field').textContent
            const firstName = document.getElementById('first-name-field').textContent
            const lastName = document.getElementById('last-name-field').textContent
            const email = document.getElementById('email-field').textContent
            const content = {
                'username': username,
                'first_name': firstName,
                'last_name': lastName,
                'email': email
            }
            // send update request to server
            fetch(`/librarian/update/{{ user.email }}`, {
                headers: {'Content-Type': 'application/json', 'X-Csrftoken': '{{ csrf_token }}'},
                method: 'PUT',
                body: JSON.stringify(content)
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data)
                    alert(data.msg)
                })
        })

        // add a new book functionality
        const addBookBtn = document.getElementById('add-book-btn')
        addBookBtn.addEventListener('click', (e) => {
            e.preventDefault()
            const bookTitle = document.querySelector('input[placeholder="book title"]').value
            const bookDesc = document.querySelector('textarea[placeholder="book description"]').value
            const bookInStoreCount = document.querySelector('input[placeholder="amount in stock"]').value

            if (bookTitle && bookDesc && bookInStoreCount) {
                const content = {
                    title: bookTitle,
                    desc: bookDesc,
                    in_store: bookInStoreCount
                }

                // send a request to add the book 
                fetch(`/librarian/add-book`, {
                    headers: {'Content-Type': 'application/json', 'X-Csrftoken': '{{ csrf_token }}'},
                    method: 'POST',
                    body: JSON.stringify(content)
                }).then(res => res.json()).then(data => {
                    console.log(data)
                    alert(data.msg)
                })
            }  
            
            else {
                alert('all fields are required')
            }
        })
    </script>
{% endblock scripts %}